@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  height: 100%;
}

.mainImage {
  height: 70vh;
  width: 90%;
  padding-top: 8%;
}

.homeHeading1 {
  color: rgb(9, 116, 255);
  padding-left: 27%;
  padding-top: 35%;
}

.homeHeading2 {
  color: rgb(9, 116, 255);
  padding-left: 27%;
}

.auto-typed {
  padding-left: 27%;
}

.onLoad
{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.homeButtons {
  margin-left: 22%;
  margin-top: -20%;
}

.MuiButton-outlined {
  margin-right: 8% !important;
  height: 60px;
  width: 160px;
}

.MuiButton-contained {
  height: 60px;
  width: 160px;
}